<%- include('./partials/header') -%>
        <h1> Home </h1>
        <%=homeStartingContent%> 
                        <%console.log(posts) %>

                        <%posts.forEach(function(post){   %>
                                <h3><%=post.title%></h3>
                                <p><%=post.body.substring(1,100)+" ..."  %> 
                                        <a href="/posts/<%=post.title%>">Read More</a>
                                </p>
                        <%})%>
        <%- include('./partials/footer') -%>
